<div class="container">
 <div class="row justify-content-center">
  <h1 class="col-8 d-flex justify-content-center">About</h1>
  <h3 class="col-5 d-flex justify-content-center">Lightsへようこそ！</h3>
    <p class="col-8 d-flex justify-content-center">
     ここは右利きではない者たちにスポットを当てるコミュニティサイト。</br>
     日常のちょっとした”やりづらさ”や疑問を投げかけてみましょう！
    </p>
    <p class="col-8 d-flex justify-content-center">投票やコメントからみんなの「実は」は知れるかもしれません…</p>
 </div>

 <div class="row justify-content-center">
   <div class="col-4 text-center"><%= link_to 'Start', posts_path, class:"btn btn-warning" %></div>
 </div>
</div>